
header {
  position: fixed;
  top: 0;
  height: 40px;
  padding: 10px 0;
  background: #263238;
  -webkit-box-shadow: 0 1px 2px 0 #757575;
  -moz-box-shadow: 0 1px 2px 0 #757575;
  box-shadow: 0 1px 2px 0 #757575;
  z-index: 1000;
}

header a {
  margin: 1em ;
  font-size: 1.6em;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

header a span {
  vertical-align: middle;
  text-transform: uppercase;
}

header a:first-child {
  margin-left: 2em;
}

.nav {
  margin-top: 5px;
}

.search-block {
  float: right;
  margin-left: auto;
  margin-right: 2em;
}

.search-block img {
  margin-top: 2px;
}

.search {
  visibility: hidden;
  border: 0;
  border-bottom: 1px solid #fff;
  background: none;
  color: #fff;
  font-size: 1.2em;
}

.search-block:hover .search{
  visibility: visible !important;
  cursor: pointer;
}

.search:focus {
  visibility: visible !important;
  cursor: pointer;
}